.chatpage {
    font-family: "EB Garamond", serif; /* Ensure consistent font across elements */
    color: #F9C8A3; /* Define default text color */
    margin: 0; /* Remove default browser margins */
    padding: 0; /* Remove default browser padding */
    height: 100vh; /* Fill viewport height */
    display: flex; /* Use flexbox for vertical layout */
    flex-direction: column;
    justify-content: space-evenly; /* Distribute content vertically */
    background-color: #BD6C85; /* Set background color for entire page */
    align-items: center;
  }

  .group_window {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }